{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
          integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>couponzsales</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/stores_images/w200_adidas-1.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/test.css' %}">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js"
            integrity="sha512-sNylduh9fqpYUK5OYXWcBleGzbZInWj8yCJAU57r1dpSK9tP2ghf/SRYCMj+KsslFkCOt3TvJrX2AV/Gc3wOqA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script !src="">
        $(function () {
            $(".toggle").on("click", function () {
                if ($(".item").hasClass("active")) {
                    $(".item").removeClass("active");
                } else {
                    $(".item").addClass("active");
                }
            });
        });
    </script>


</head>
<body>
<nav class="my_nav">
    <ul class="menu">
        <li class="logo"><a href="#">
            {#            Number of images_list: {{ images_path }}#}
            <input value="" placeholder="ابحث عن منتج"
            >
            <!--            <img class="log_img" src="{% static 'img/fahmy.png' %}" alt="" style="float: right;border-radius: 12px">-->
            {# FollowAndrew.dev#}
        </a>
        </li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="item"><a href="#">Services</a></li>
        <li class="item button"><a href="#">Log In</a></li>
        <li class="item button secondary"><a href="#">Sign Up</a></li>
        <li class="toggle"><span class="bars"></span></li>
    </ul>
</nav>
<main>
    <div class="" style="background-color: whitesmoke">
        <div class="wrapper container">
            <ul>
                <li><a href="#">الرئيسية</a></li>

                <li><a href="#">متاجر</a></li>
                <li><a href="#">عروض</a></li>
                <li><a href="#">نصائح</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h1 class="page-title" style="text-align: center">جميع كوبونات وعروض متاجر جمهورية</h1>
        <div class="page-header">
            <div class="arabic" style="padding: 25px">
                <h3 dir="rtl" class="arabic">مواقع تسوق اون لاين، اكواد خصم وكوبونات تخفيض 2023</h3>

                <p dir="rtl" class="">نقدم لك كوبونات واكواد خصم مواقع تسوق اون لاين عديدة ومختلفة أصبحت الآن بإمكانها
                    توفير
                    لك أي
                    خدمة أو سلعة بسهولة وسرعة أكبر في الوطن العربي وخاصة في جمهورية مصر. الشرق الأوسط يعتبر حاليا
                    المركز
                    الأسرع نموا للمتاجر الإلكترونية ومواقع التسوق عبر الإنترنت، مثل نمشي، أمازون، نون، ماكس، اناس،
                    فارفيتش،
                    شي ان الصيني&nbsp;وغيرهم من المواقع العالمية والمحلية.. كل شيء أصبح الآن متوفر بمجرد نقرة ويصل
                    بسرعة
                    قياسية إلى عتبة منزلك.&nbsp;</p>
            </div>

        </div>

        <div class="row main_div">
            <div class="col-lg-4">
                <aside>
                    <div class="m-menu-subscribe">
                        <div class="subhead">إشترك في قائمة كوبونز سيلز البريدية</div>
                        <div class="mail">احصل على عروض وكوبونات حصرية مباشرة على بريدك الالكتروني</div>
                        <div class="mail-signup" data-name="sidebar">
                            <form class="sub">
                                <div class="sign-up">
                                    <div class="table">

                                        <div class="s-btn cell"><input class="alm-show" type="image"
                                                                       src="https://cdn.almowafir.com/1/alw_ic_send_email_ar.png"
                                                                       name="subscribe" alt="Sub" height="70" width="70"
                                                                       loading="lazy">

                                        </div>
                                        <div class="s-email cell"><input class="s-email-input alm-show" type="email"
                                                                         placeholder="ادخل بريدك الالكتروني"
                                                                         name="email-submit">
                                            <div class="s-success"></div>
                                        </div>
                                    </div>
                                    <div class="s-error"></div>
                                </div>
                            </form>
                        </div>
                        <div class="store-grid row">
                            <h2 style="direction: rtl" class="mb-2"> اختر متجرك المفضل</h2>
{#                            {% for post in posts %}#}
{#                            	{{ post.store. }}#}
{#                            {% endfor %}#}

                            {% for store in stores %}

                                <div class="store col-4 col-lg-4 col-md-4 mb-2">
                                    <div>
                                        <a href="{{ store.slug }}">
                                                                                        <img src="{{ store.store_img_url }}" alt="fff" height="50"
                                                                                             width="100"  loading="lazy">
{#                                            <img src="https://cdn.almowafir.com/files/w200_amazon.jpg"#}
{#                                                 srcset="https://cdn.almowafir.com/files/w100_amazon.jpg 100w, https://cdn.almowafir.com/files/w200_amazon.jpg 200w"#}
{#                                                 loading="eager" sizes="92px" alt="أمازون" height="100" width="200">#}
                                        </a>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-8">
                <div class='row img_container'>
                    <div class="col-sm-6 col-xs-6 col-lg-4 flex-fill">
                        <div class="p-2 wrapper" style="height: 100%">
                            <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>
                            <div class="row">
                                <div class="col-4">
                                    <p>HELLO</p>
                                </div>
                                <div class="col-4">
                                    <p>HELLO</p>
                                </div>
                                <div class="col-4">
                                    <p>HELLO</p>
                                </div>
                            </div>
                            <img class="store_img" src="{% static 'img/fahmy.png' %}">
                        </div>


                    </div>
                    <div class="col-sm-6 col-xs-6 col-lg-4 flex-fill">
                        <div class="p-2 wrapper " style="height: 100%">
                            <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>
                            <img class="store_img" src="{% static 'img/fahmy.png' %}">
                        </div>


                    </div>

                    <div class="col-sm-6 col-xs-6 col-lg-4">
                        <div class="p-2 wrapper  " style="height: 100%">
                            <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>
                            <img class="store_img" src="{% static 'img/fahmy.png' %}">
                        </div>


                    </div>
                    <div class="col-sm-6 col-xs-6 col-lg-4">
                        <div class="p-2 wrapper " style="height: 100%">
                            <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>
                            <img class="store_img" src="{% static 'img/fahmy.png' %}">
                        </div>


                    </div>
                    <!--            <div class="col-8"><p class="border bg-light">hello</p></div>-->
                    <!--            <div class="col-4 coupon mr-auto">-->
                    <!--                <a href="#" class="item_link">-->
                    <!--                    <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>-->

                    <!--                </a>-->
                    <!--                <img class="store_img" src="{% static 'img/fahmy.png'%}">-->

                    <!--            </div>-->
                    <!--            <div class="col-4 coupon ">-->
                    <!--                <a href="#" class="item_link">-->
                    <!--                    <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>-->

                    <!--                </a>-->
                    <!--                <img class="store_img" src="{% static 'img/fahmy.png'%}">-->

                    <!--            </div>-->
                    <!--            <div class="col-4 coupon">-->
                    <!--                <a href="#" class="item_link">-->
                    <!--                    <p>5% كوبون خصم نون مصر 2023 | عروض نون لغاية 25 جنيه</p>-->

                    <!--                </a>-->
                    <!--                <img class="store_img" src="{% static 'img/fahmy.png'%}">-->

                    <!--            </div>-->


                </div>

            </div>
        </div>
        <div class="page_footer row" style="text-align: right;font-size: 25px">
            {#        <img src="{% static 'stores_images/w200_adidas-1.jpg' %}" alt="problem"/>#}
            {% for flag in flags %}
                <img src="{% static flag %}" alt="problem"/>
            {% endfor %}
            <div class="col-lg-3 col-xs-6 col-sm-6">
                <h2>تواصل معنا</h2>
                <ul>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">جميع المتاجر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">الاعياد والعطلاتر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عن كوبونز سيلز</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة السوداء</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة البيضاء</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-6">
                <h2>معلومات كوبونز سيلز</h2>
                <ul>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">جميع المتاجر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">الاعياد والعطلاتر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عن كوبونز سيلز</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة السوداء</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة البيضاء</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-6">
                <h2>روابط مختصرة</h2>
                <ul>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">جميع المتاجر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">الاعياد والعطلاتر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عن كوبونز سيلز</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة السوداء</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة البيضاء</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-6">
                <h2>المتاجر والعروض</h2>
                <ul>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">جميع المتاجر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">الاعياد والعطلاتر</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عن كوبونز سيلز</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة السوداء</a></li>
                    <li><a href="https://almowafir.com/store/" data-ga-ind="1">عروض الجمعة البيضاء</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="f-bot table" style="text-align:center;font-size: 1.2rem ">
                <!--                <div class="f-bot-1 cell">-->
                <!--                    &nbsp;-->
                <!--                </div>-->
                <div class="f-bot-2 cell">
                    © كل الحقوق محفوظة للموفر
                </div>
            </div>
        </div>

    </div>

</main>
</body>
</html>